<div *ngIf="movie">
    <mat-card class="order-card" appearance="outlined">
        <mat-card-content>
            <h3>Rezerviši- {{movie.title}}</h3>
            <mat-form-field class="full-width">
                <mat-label>Naziv</mat-label>
                <input type="text" matInput [value]="movie.title" disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Vreme trajanja</mat-label>
                <input type="text" matInput [value]="movie.runTime" disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Kratak opis:</mat-label>
                <input type="text" matInput [value]="movie.shortDescription" disabled>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Bioskopi</mat-label>
                <mat-select [(ngModel)]="selectedCinema">
                    <mat-option *ngFor="let airline of cinemas" [value]="airline.id">{{airline.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Izaberi sedište</mat-label>
                <mat-select [(ngModel)]="selectedPrice">
                    <mat-option [value]="5000">Vip sedište</mat-option>
                    <mat-option [value]="3000">Ljubavno sedište</mat-option>
                    <mat-option [value]="1000">Obično sedište</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Broj karata</mat-label>
                <input type="number" matInput [(ngModel)]="selectedTicketCount"> 
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="doOrder()">
                <i class="fa-solid fa-cart-shopping"></i> Naruči
            </button>
        </mat-card-actions>
    </mat-card>
</div>