<div class="wrapper" *ngIf="movies">
    <h1>{{movies.poster}}</h1>
    <div class="flight-content">
        <img [src]="movies.poster" [alt]="movies.title">
        <mat-card class="flight-card" appearance="outlined">
            <mat-card-content>
                <h2>Movie Details</h2>
                <mat-list role="list">
                    <mat-list-item>
                        <span matListItemTitle>Title:</span>
                        <span matListItemLine>{{movies.title}}</span>
                         <span matListItemIcon>
                            <i class="fa-solid fa-clock-rotate-left"></i>
                         </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Genre:</span>
                        <span matListItemLine>{{movies.movieGenres}}</span>
                        <span matListItemIcon>
                            <i class="fa-solid fa-plane-circle-exclamation"></i>
                        </span>
                    </mat-list-item>
                    <mat-list-item>
                        <span matListItemTitle>Description:</span>
                        <span matListItemLine>{{movies.description}}</span>
                        <span matListItemIcon>
                            <i class="fa-solid fa-font-awesome"></i>
                        </span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button [routerLink]="['/details/'+movies.movieId]">
                    <i class="fa-solid fa-cart-shopping"></i> Book Now
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<app-loading *ngIf="!movies" />